
@using Do_An_Web.Models;
@model IEnumerable<SanPham>

<div class="col-md-12">
    <div class="row">
        <div class="products-tabs">
            <!-- tab -->
            <div id="tab1" class="tab-pane active">
                <div class="products-slick" data-nav="#slick-nav-1">
                    <!-- product -->
                    @foreach (var item in Model)
                    {
                        <div class="product">
                            <div class="product-img">
                                <a href="@Url.Action("XemChiTiet", "SanPham", new { id = item.MaSP } )"><img src="~/Content/Layout/img/@item.HinhAnh" width="100%" height="250", alt=""></a>
                                <div class="product-label">
                                    <span class="new">NEW</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Sản phẩm</p>
                                <h3 class="product-name"><a href="#">@item.TenSP</a></h3>
                                <h4 class="product-price">@string.Format("{0:0,0 VNĐ}", item.GiaBan) <del class="product-old-price">@string.Format("{0:0,0 VNĐ}", (item.GiaBan+300000))</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="product-btns">
                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Yêu thích</span></button>
                                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">So sánh</span></button>
                                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Xem chi tiết</span></button>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <button class="add-to-cart-btn">
                                    <i class="fa fa-shopping-cart"></i>
                                    @Ajax.ActionLink("Thêm Vào Giỏ Hàng", "ThemGioHang", "GioHang", new { @MaSp = item.MaSP }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divGioHang", InsertionMode = InsertionMode.Replace }, null)
                                </button>
                            </div>
                        </div>
                    }

                  
                    <!-- /product -->
                </div>
                <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>
            <!-- /tab -->
        </div>
    </div>
</div>

