@model Do_An_Web.Models.KhachHang

@{
    ViewBag.Title = "ChinhSua";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<div class="row">
    <div class="col-sm-12">
        <div class="element-wrapper">
            <h6 class="element-header">
                CHỈNH SỬA NGƯỜI DÙNG
            </h6>
            <div class="element-box-tp">
            </div>
        </div>
    </div>
</div>

<style>
    .element-wrapper {
        padding-bottom: 1rem;
    }

    .container {
        padding-top: 1rem;
    }

    .element-wrapper .element-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        padding-bottom: 1rem;
        margin-bottom: 0rem;
        position: relative;
        z-index: 1;
    }

    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }

    .container {
        padding-top: 50px;
        margin: auto;
    }

    .fa-fw {
        text-align: center;
        width: 3.25em;
    }
    .btn-light {
        color: black;
        background-color: white;
        border-color: white;
        float: right;
        margin-right: 5px;
        margin-top: -34px;
        position: relative;
        z-index: 2;
    }
   
</style>

@using (Html.BeginForm("ChinhSua", "QuanLyNguoiDung", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(model => model.MaKH, new { htmlAttributes = new { @class = "form-control", @id="divMaKH", @style="display:none" } })
    @Html.Hidden("MaKH", Model.MaKH)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label><i class="fas fa-address-card col-md-1.1" aria-hidden="true" style="font-weight:bold"></i> Họ và tên</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label><i class="fas fa-user-circle col-md-1.1" aria-hidden="true" style="font-weight:bold"></i> Tài khoản</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "txtTaiKhoan", @onkeyup = "ClearMessage()" } })
                <span class="btn btn-light" id="class="fas fa-search"" onclick="CheckAvailability()">
                    <i class="fas fa-search"></i>
                </span>
                <span id="message"></span>
                @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label><i class="fas fa-key col-md-1.1" aria-hidden="true" style="font-weight:bold"></i> Mật khẩu</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", @id = "password-field", @type = "password" } })
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label><i class="fas fa-envelope-open-text col-md-1.1" aria-hidden="true" style="font-weight:bold"></i> Email</label>
            <div class="col-md-5">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email", @required = "required", @id = "txtEmail", @onkeyup = "ClearMessage()" } })
                <span class="btn btn-light" id="class=" fas fa-search"" onclick="CheckAvailabilityEmail()">
                    <i class="fas fa-search"></i>
                </span>
                <span id="messageEmail"></span>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label><i class="fas fa-map-marked-alt col-md-1.1" aria-hidden="true" style="font-weight:bold"></i> Địa chỉ</label>
            <div class="col-md-7">
                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label><i class="fas fa-phone-square col-md-1.1" aria-hidden="true" style="font-weight:bold"></i> Điện thoại</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control", @type = "number", @required = "required" } })
                @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Chỉnh sửa" class="btn btn--green" />
            </div>
        </div>
    </div>
}
@if (ViewBag.Loi != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Loi");
            };
    </script>
}

<script type="text/javascript">
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>

<script>
    $('input[type="text"]')
        .on('invalid', function () {
            return this.setCustomValidity('Phải nhập đầy đủ thông tin!');
        })
        .on('input', function () {
            return this.setCustomValidity('');
        });
    $('input[type="password"]')
        .on('invalid', function () {
            return this.setCustomValidity('Phải nhập vào Mật khẩu!');
        })
        .on('input', function () {
            return this.setCustomValidity('');
        });
    $('input[type="email"]')
        .on('invalid', function () {
            return this.setCustomValidity('Phải nhập vào Email!');
        })
        .on('input', function () {
            return this.setCustomValidity('');
        });
    $('input[type="number"]')
        .on('invalid', function () {
            return this.setCustomValidity('Phải nhập vào Số điện thoại!');
        })
        .on('input', function () {
            return this.setCustomValidity('');
        });

    jQuery(document).ready(function () {

        jQuery("#formID").validationEngine();
    });
</script>

<script type="text/javascript">
    function CheckAvailability() {
        var taikhoan = $("#txtTaiKhoan").val();
        var MaKH = $("#divMaKH").val();
        $.ajax({
            type: "POST",
            url: "/QuanLyNguoiDung/CheckUsername",
            data: '{MaKH: "' + MaKH + '", taikhoan: "' + taikhoan + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var message = $("#message");
                if (response) {
                    //Email available.
                    message.css("color", "green");
                    message.html("Bạn có thể sử dụng Tài khoản này!");
                }
                else {
                    //Email not available.
                    message.css("color", "red");
                    message.html("Tài khoản này đã tồn tại trong hệ thống!");
                }
            }
        });
    };

    function CheckAvailabilityEmail() {
        var Email = $("#txtEmail").val();
        var MaKH = $("#divMaKH").val();
        $.ajax({
            type: "POST",
            url: "/QuanLyNguoiDung/CheckEmail",
            data: '{MaKH: "' + MaKH + '", Email: "' + Email + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var message = $("#messageEmail");
                if (response) {
                    //Email available.
                    message.css("color", "green");
                    message.html("Bạn có thể sử dụng Email này!");
                }
                else {
                    //Email not available.
                    message.css("color", "red");
                    message.html("Email này đã tồn tại trong hệ thống!");
                }
            }
        });
    };

    function ClearMessage() {
        $("#message").html("");
    };
</script>

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
