@using Do_An_Web.Models
@model PhieuNhap

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    <input name="MaNCC"/>
    <input name="MaPN"/>
    for (int i = 0; i < 10; i++)
    {
        <h2>Thông tin sản phẩm @i</h2>
        @*Để MVC tự động trả dữ liệu Model theo dạng list thì đặt cách tên ["Chỉ số phần tử"].Thuộc tính*@
        <input name="@Url.Content("["+i+"].MaSP")" value="@i" /> <br />
        <input name="@Url.Content("["+i+"].DonGia")" value="10000" /> <br />
        <input name="@Url.Content("["+i+"].SoLuong")" value="100" /> <br />

    }
    <input type="submit" value="Đồng ý" />
}

